<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fale Conosco </title>
    <link rel="stylesheet" href="../css/fale-conosco.css">
</head>
<body>
    
    <main class="container">
       
        <h2>Fale Conosco</h2>

        <form action="../controller/fale-conosco.php" method="post">
            
            <div class="input-field">
                <input type="email" name="email" id="email" placeholder="email">
                <div class="underline"></div>
            </div>

           
            <div class="input-field">
                <input type="number" name="telefone" id="telefone" placeholder="telefone" maxlength="10">
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem" ></textarea>
                <div class="underline"></div>
            </div>
            

            <input type="submit" value="Continuar" >


        </form>


    </main>
</body>
</html>