<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- <link rel="stylesheet" href="./css/reset.css"> -->
    
    <link rel="stylesheet" href="../css/login-formulario.css">

</head>
<body>
  
    <main class="container">
        <h2>Login</h2>
        <form action="../controller/login.php" method="POST">

            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Usuário">
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continuar">
        </form>

        <footer>
            <div>

                <span>Não possui conta?</span>
                <a href="cadastro.html">Cadastre-se</a>
                <a href="../index.html">Home</a>
            </div>
        </footer>
    </main>
</body>
</html>